/* 1 */ 
.jumbotron h1{
    color: rgb(0, 0, 128);
}
/* 2 */ 
.nav > span {
    color: rgb(130, 0, 0);
}
/* 3 */ 
.jumbotron a {
    color: rgb(0, 117, 21);
}
/* 4 */ 
.blog-post:first-of-type{
    background-color:  rgb(221, 255, 141);
}
/* 5 */ 
.blog-post:first-of-type hr {
    background-color:  rgb(255, 4, 4);
}
/* 6 */ 
.nav span:nth-child(2n){
    background-color:  rgb(158, 136, 255);
}
/* 7 */ 
.col-md-4 .p-4:nth-child(2) li{
    background-color:rgb(247, 200, 125);
}
/* 8 */
.col-md-8 .blog-post:nth-child(2) .blog-post-meta a{
    background-color:  rgb(242, 234, 9);
}
/* 9 */
.row .blog-post ul li:nth-child(2) {
    color: brown; 
}
/* 10 */
.float-right{
    background-color:  rgb(242, 203, 9);
    color: rgb(203, 61, 0);
}

/* 11 DA RIVEDERE */
.blog-pagination a:nth-child(2){
    background-color:  rgb(21, 15, 10);
}
/* 12 */
.text-center a:nth-child(2){
    color: red;
}